.outer-container {
    background-color: #8fcbd3; 
    padding: 20px;
    justify-content: center;
    align-items: center;
 height: 750px;
 width: 97vw;
 margin-top: 60px;
}

.inner-container {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    margin-top: 60px;
    background-color: white;
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    
}
.progress-bar {
    margin-left: 20px;
    width: 100vw;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress {
    background-color: #76c7c0;
    height: 10px;
    line-height: 30px;
    color: white;
    white-space: nowrap;
    border-radius: 5px 0 0 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.progres {
    background-color:#e0e0e0;
    height: 10px;
    line-height: 30px;
    color: white;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px 0 0 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.name{
    color:black;
    margin-top: 3px;
    size: 2rem;

}
.page{
    color: orangered;
   font-size: 1.5rem;
}
.middle{
   
}
.line{
    color: black;
    font-size: 1.3rem;
}
.arrow{
    margin-right: 20px;
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inside{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.para{
    margin-left: 10px;
}
.next{
    margin-right: 10px;
}